<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Payments</h1>
    <p class="lead">Watchout for Payments Overdue and New bills</p>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">Jul 2019 <span class="badge badge-warning">New</span> 
   <a routerLinkActive="active" routerLink="/remittance-list" class="btn btn-primary right-aligned">Make Payment</a>
</li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Jun 2019 <span class="badge badge-secondary badge-danger">Payment Overdue</span> <a routerLinkActive="active" routerLink="/remittance-list" class="btn btn-primary right-aligned">Make Payment</a></li>
  <li class="list-group-item d-flex justify-content-between align-items-center">May 2019 
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button></li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Apr 2019
     <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Mar 2019
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Feb 2019
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Jan 2019
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Dec 2018
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Nov 2018
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">Oct 2018
    <span class="badge badge-success">Paid</span> <button type="button" class="btn badge-secondary right-aligned">
  View
</button>
  </li>
</ul>